.navbar {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    font-size: 30px;
}

.list-group {
    margin: 10px;
}

.current-data {
    font-size: 20px;
    font-weight: bold;
}

#title {
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}

#currentDate {
    font-weight: bolder;
    text-align: center;
    font-size: 24px;
}

#clearBtn {
    margin-left: 10px;
}

.searchBar {
    margin-left: 10px;
}

.box {
    border: solid 2px;
    padding: 10px;
    box-shadow: 1px 1px;
    position: relative;
}

.card-title {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}

.card-text {
    font-weight: bold;
    font-size: 20px;
}

.card {
    margin: 10px;
}

#currentIcon {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.hide {
    display: none;
}
